<template>
<div class="row">
    <div class="col-2 profile-box">
        <profile />         
    </div>
    <div class="col-7">
        <br/>
        <alertMessages></alertMessages>    
        <entry-create />
        <br/>
        <entries-list />
    </div>
    <div class="col-3 registration-box">
        <registration-list  />
    </div>
</div><!-- end of .row -->
</template>

<style>
    .profile-box{
        padding:30px;
        background: #dddddd;
    }
    .registration-box{
        padding:30px;
    }
</style>