<template>
    <div class="container">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <router-link class="" :to="{name: 'Home'}">Back </router-link>
        </li>
      </ul>
        <br/>
        <h2 class="display-4">{{content.title}}</h2>
        <h4>{{content.excerpt}}</h4>
        <hr/>
        <img class="img-fluid img-thumbnail" v-show="content.featured_image" :src="`${apiURL}/${content.featured_image}`" />
        <br/>
        <div>
            {{content.body}}
        </div>
    </div>
</template>

<script>

import Service from "../common/fb-fetch-library/HttpService" 

export default{
  data(){
    return{
      content: {},
      entryId: this.$route.params.id,
      apiURL: Service.getApiURL()
    }
  },
  methods:{
    getEntry(){
      Service.get(`/entries/${this.entryId}`,(response)=>{
        this.content = response
      })
    }
  },
  created(){
     this.getEntry();
  }
}

</script>