<template>
    <div class="container">
        <!-- end of menu -->
        <!-- Pages -->
        <div class="row entry-list ">
            <div class="col d-flex justify-content-between flex-wrap">
                <div class="card w-25" v-for="entry in entries" :key="entry.id">
                    <img class="card-img-top" :src="`${apiURL}/${entry.featured_image}`" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{entry.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{entry.subtitle}}</h6>
                        <p class="card-text">
                            {{truncatedText(entry.body)}}
                        </p>
                        <router-link class="" :to="{name: 'DetailPage',params: { id:  entry.id}}">See more </router-link>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of Pages -->
        <!-- section 1 -->
        <div class="row">
            <div class="col">
                <br/>
                <hr/>
                <alertMessages></alertMessages>
                <h3>Subscribe</h3>
                <div v-show="registrationFormVisibility">
                    <div class="form-group">
                        <label for="">E-mail</label>
                        <input type="text" name="email" v-validate.initial="'required|email'" v-model="form.email" class="form-control" />
                        <i v-show="errors.has('email')" class="fa fa-warning"></i>
                        <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                    </div>
                    <div class="form-group" v-show="!errors.items.length">
                        <button @click="submitForm()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div v-show="!registrationFormVisibility">
                    <p>We have just sent a message for your e-mail account. <br/><br/>Please verify and authorize your subscription.</p>
                </div>
            </div>
        </div> 
        <!-- end section 1 -->
    </div>
</template>

<script>

import Service from "../common/fb-fetch-library/HttpService" 

export default{
  data(){
    return {
      entries: [],
      apiURL: Service.getApiURL(),
      registrationFormVisibility: true,
      form:{}
    }
  },
  methods:{
    getEntries(){
        Service.get('/entries',(response)=>{
            this.entries = response
        })
    },      
    submitForm(){
        Service.post(`/registrations`,{
            email: this.form.email
        },(response)=>{
            this.registrationFormVisibility = false
            this.$alert.show({
                type: 'success',
                message: 'Email registered successfully!'
            })
        })
    },
    truncatedText(text) {
        if(text.length > 0 ){
            return `${text.substring(1,170)}${(text.length < 170) ? '.' : '...'}`
        }else{
            return ''
        }
    }
            
  },

  created(){
     this.getEntries()
  }

}

</script>

<style>
    .card{
    }
</style>