<template>
    <div class="container login">
        <alertMessages></alertMessages>
        <div class="form-group">
            <label for="">Email address</label>
            <input name="email" v-model="login.email" v-validate.initial="'required|email'" class="form-control" type="text" placeholder="Email">
            <i v-show="errors.has('email')" class="fa fa-warning"></i>
            <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" v-validate.initial="'required'" name="" class="form-control" v-model="login.password" />
            <i v-show="errors.has('password')" class="fa fa-warning"></i>
            <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
        </div>
        <button v-show="!errors.items.length" v-on:click="submit()" class="btn btn-primary">Submit</button>
    </div>
</template>

<script>
import Service from '../common/fb-fetch-library/HttpService'

export default
{
    data(){
        return {
            login: {
                email: 'fabriciobiron@gmail.com',
                password: 'zaq123'
            }
        }
    },
    methods:
    {
        submit(){
            Service.getAuthorization(this.login.email,this.login.password,(response)=>{
                if(typeof response.error === 'string'){
                    this.$alert.show({
                        type: 'warning',
                        message: 'Incorrect credentials!'
                    })
                }else{
                    this.$router.push({ name: 'Dashboard'})
                }
            })
        }
    }

}

</script>
<style>
    .login{ 
        margin-top:50px;
    }
</style>