<template>
    <div>
        <!-- title, subttile, body, file -->
        <h3>Create a new Entry</h3>
        <div class="form-group">
            <label for="">Title</label>
            <input name="title" type="text" v-model="form.title" v-validate.initial="'required'" class="form-control"   />
            <i v-show="errors.has('title')" class="fa fa-warning"></i>
            <span v-show="errors.has('title')" class="help is-danger">{{ errors.first('title') }}</span>
        </div>
        <div class="form-group">
            <label for="">Excerpt</label>
            <input name="excerpt" type="text" v-validate.initial="'required'" v-model="form.excerpt" class="form-control" />
            <i v-show="errors.has('excerpt')" class="fa fa-warning"></i>
            <span v-show="errors.has('excerpt')" class="help is-danger">{{ errors.first('excerpt') }}</span>
        </div>        
        <div class="form-group">
            <label for="">Body</label>
            <textarea type="text" v-model="form.body" class="form-control"  rows="10">
            </textarea>
        </div>                
        <button v-show="!errors.items.length" @click="submitForm()" type="submit" class="btn btn-primary">Submit</button>
    </div>
</template>

<script>
import Service from '../common/fb-fetch-library/HttpService'
import Emitter from'../common/emitter';

export default
{   
    props:['title','subtitle','body','featured-image'],
    data()
    {
        return {
            form:{}
        }
    },
    methods:{
        submitForm(){
            Service.post(`/entries`,{
                title: this.form.title,
                excerpt: this.form.excerpt,
                body: this.form.body

            },(response)=>{
                Emitter.$emit('entry-created');
                this.$alert.show({
                    type: 'success',
                    message: 'Entry was created!'
                })
                this.form = {}
            })
        }
    },
    created(){
        
    }
}

</script>