<template>
<div>
    <table class="table ">
    <thead class="">
        <tr>
            <th width="5%" scope="col">#</th>
            <th width="20%" scope="col">Featured Image</th>
            <th width="55%" scope="col">Content</th>
            <th width="20%" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <entry-item v-for="entry in entries" 
            :id="entry.id" 
            :title="entry.title" 
            :body="entry.body" 
            :excerpt="entry.excerpt" 
            :featuredImage="`${(entry.featured_image) ? apiURL+'/'+entry.featured_image : 'http://via.placeholder.com/300x300'}`" 
            :key="entry.id"  />
    </tbody>
    </table>
</div>
</template>
<script>

import Service from '../common/fb-fetch-library/HttpService'
import Emitter from'../common/emitter';

export default
{
    data(){
        return {
            entries: [],
            apiURL: Service.getApiURL()
        }
    },
    methods:{
        getEntries(){
            Service.get('/entries',(response)=>{
                this.entries = response
            })
        }
    },
    created(){
        this.getEntries();
        Emitter.$on('reload-entry-list',()=>{
            this.entries = []
            this.getEntries();
        });
    }
}
</script>