<template>        
    <div>
        <button type="button" @click="toggleCreatePanel()" class="btn btn-primary">Add new entry</button>
        <br/><br/>
        <div class="card" v-show="createPanelVisibility">
            
            <div class="card-body">
                <br/><br/>
                <entry-form />
            </div>
        </div>
    </div>
</template>

<script>

import Service from '../common/fb-fetch-library/HttpService'
import Emitter from'../common/emitter';

export default
{   
    props:['id','title','body','featured_image'],
    data()
    {
        return {
            createPanelVisibility: false,
            form_data_info: {}
            
        }
    },
    methods:{
        toggleCreatePanel(){
            this.createPanelVisibility = !this.createPanelVisibility
        },        
    },
    created(){
       Emitter.$on('entry-created',()=>{
            this.createPanelVisibility = false
            Emitter.$emit('reload-entry-list');
       })
    }
}

</script>