<template>
    <tr>
        
        <th scope="row" class="align-middle">{{id}}</th>
        <td  class="">
            <img v-show="!uploadFormVisibility" :src="entryImage" class="img-thumbnail thumb" data-toggle="tooltip" data-placement="top" title="Click to add a photo" @click="addImageOnForm()" />
            <upload-image v-show="uploadFormVisibility" :id="id"  />
        </td>
        <td class="align-top">
            <h5 class="mt-0">{{title}}</h5>
            <div>{{truncatedBody}}</div>
            <div class="clearfix"></div>
            <entry-edit-form v-show="editPanelVisibility" :id="id" :title="title"  :body="body" :excerpt="excerpt" :featuredImage='featuredImage'   />
        </td>
        <td class="align-middle">
            <button type="button" @click="toggleEditPanel()" class="btn btn-primary btn-sm">Edit</button> 
            <button type="button" @click="deleteEntry()" class="btn btn-primary btn-sm">Delete</button>
        </td>
    </tr>
</template>

<script>

import Service from '../common/fb-fetch-library/HttpService'
import Emitter from'../common/emitter';

export default
{   
    props:['id','title','excerpt','body','featuredImage'],
    data()
    {
        return {
            editPanelVisibility: false,
            entryBody: this.body,
            entryImage: this.featuredImage,
            entryExcerpt: this.excerpt,
            uploadFormVisibility: false
        }
    },
    computed: {
        truncatedBody() {
            if(this.body.length > 0 ){
                return `${this.entryBody.substring(1,170)}${(this.body.length < 170) ? '.' : '...'}`
            }else{
                return ''
            }
        }
    },
    methods:{
        toggleEditPanel(){
            this.editPanelVisibility = !this.editPanelVisibility
        },
        deleteEntry(){
            Service.delete(`/entries/${this.id}`,(response => {
                Emitter.$emit('reload-entry-list')
                this.$alert.show({
                    type: 'success',
                    message: 'The entry was deleted!'
                })
            }))
        },
        addImageOnForm(){
            this.uploadFormVisibility = true
        }
        
    },
    created(){
       Emitter.$on('upload-done',()=>{
           this.uploadFormVisibility = false
            Emitter.$emit('reload-entry-list')
       })
        Emitter.$on('entry-updated',()=>{
            this.editPanelVisibility = false
       })
    }
}

</script>

<style>

    .thumb{
        cursor: pointer;
    }

</style>