<template>
    <div>
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" v-model="form.title" class="form-control" name="title" v-validate.initial="'required'"  />
            <i v-show="errors.has('title')" class="fa fa-warning"></i>
            <span v-show="errors.has('title')" class="help is-danger">{{ errors.first('title') }}</span>
        </div>
        <div class="form-group">
            <label for="">Excerpt</label>
            <input type="text" v-model="form.excerpt" class="form-control" name="excerpt" v-validate.initial="'required'"  />
            <i v-show="errors.has('excerpt')" class="fa fa-warning"></i>
            <span v-show="errors.has('excerpt')" class="help is-danger">{{ errors.first('excerpt') }}</span>
        </div>
        <div class="form-group">
            <label for="">Body</label>
            <textarea type="text" v-model="form.body" class="form-control" rows="10">
            </textarea>
        </div>             
        <button @click="submitForm()" v-show="!errors.items.length"  class="btn btn-primary">Submit</button>
    </div>
</template>

<script>

import Service from '../common/fb-fetch-library/HttpService'
import Emitter from'../common/emitter';

export default
{   
    props:['id','title','excerpt','body','featuredImage'],
    data()
    {
        return {
            form:{
                id: this.id,
                title: this.title,
                excerpt: this.excerpt,
                body: this.body
            }
        }
    },
    methods:{
        submitForm(){
            Service.put(`/entries/${this.form.id}`,{
                title: this.form.title,
                excerpt: this.form.excerpt,
                body: this.form.body
            },(response)=>{
                Emitter.$emit('reload-entry-list')
                Emitter.$emit('entry-updated')
                this.$alert.show({
                    type: 'success',
                    message: 'Entry updated successfully!'
                })
            })
        }
    },
    created(){
    }
}

</script>