<template>
    <div class="text-center">
        <img src="http://i.pravatar.cc/300" class="image-profile rounded-circle img-fluid img-thumbnail" />
        <br/>
        <br/>
        <h5>{{profile.name}}</h5>
        <p>{{profile.email}}</p>
    </div>
</template>

<script>

import Service from '../common/fb-fetch-library/HttpService'

export default
{
    data(){
        return {
            profile: {}
        }
    },
    methods:{
        getProfile(){
            Service.get('/user',(response)=>{
                this.profile = response
            })
        }
    },
    created(){
        this.getProfile()
    }
}
</script>

<style>
    .image-profile{
        width: 50%; 
        height: 50%; 
    }
</style>