<template>
<div>
    <div class="col">
        <div class="row">
            <h3>List of registered e-mails</h3>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Authorized</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="registration in registrations" :key="registration.id">
                    <th scope="row">{{registration.id}}</th>
                    <td>{{registration.email}}</td>
                    <td>{{(registration.authorized === "1") ? 'Yes' : 'No'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>
<script>

import Service from '../common/fb-fetch-library/HttpService'

export default
{
    data(){
        return {
            registrations: []
        }
    },
    created(){
        Service.get('/registrations',(response)=>{
            this.registrations = response
        })
    }
}
</script>
