<template>
    <div >
        <form enctype="multipart/form-data"  >
            <div class="form-group">
                <label for="">Upload Image</label>
                <input type="file" class="form-control form-control-sm" name="file" v-on:change="fileChange($event)" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm" v-on:click.prevent="uploadFile()">Upload</button>
            </div>
        </form>
    </div> 
</template>

<script>

import Service from '../common/fb-fetch-library/HttpService'
import Emitter from'../common/emitter';

export default
{   
    props:['id'],
    data(){
        return {
            editPanelVisibility: false,
            image: {
                id: this.id,
                file: {}
            },
        }
    },
    methods:{
        uploadFile(){
            Service.upload(`/entries/upload`,
                this.image
            ,(response)=>{
                Emitter.$emit('upload-done')
            })
        },
        fileChange(fileList){ 
            this.image.file = fileList.target.files[0]
        },
    },
}

</script>