<template>
  <div id="app" class="">
    <div class="container-fluid">
      <div class="row head">
        <div class="col">
          <div class="d-flex justify-content-between">
            <router-link :to="{name: 'Home'}">
              <img src="http://blastmotion.com/wp-content/themes/blastmotion/img/logo-blast-ffffff@2x.png" class="logo" />
            </router-link>
            <div class="d-flex align-items-center">
              <div v-show="!isLogged">
                <router-link :to="{name: 'Login'}">Login </router-link>
              </div>
              <div v-show="isLogged">
                
                <router-link :to="{name: 'Home'}">Home</router-link>
                <router-link :to="{name: 'Dashboard'}">Dashboard</router-link>
                <a href="#" @click="logout()">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col main">
          <router-view/>
        </div>
      </div>
    </div>   
  </div> <!-- end of #app -->
</template>

<script>

import Service from './common/fb-fetch-library/HttpService'

export default {
  data(){
    return {
      isLogged: false
    }
  },
  methods:{
    checkLogin(){
      if(Service.getToken() !== null){
        this.isLogged = true 
      }else{
        this.isLogged = false
        this.$router.push({ name: 'Login'})        
      }
    },
    logout(){
      this.isLogged = false
      Service.logout()
      this.$router.push({ name: 'Login'})
      
    }
  },
  updated(){
    this.checkLogin()
  }
}
</script>
<style >
  .head{
    background: #1E252C;
    padding: 10px;
  }

  .menu{
    padding: 30px;
    background: #e5e5e5;
  }

  .logo{
    width: auto;
    height: 50px;
  }


  .head a{
    color: #999999;
    padding: 0 10px; 
  }


</style>


